  {% load static %}
  <!-- JavaScript files-->
    <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{% static "vendor/popper.js/umd/popper.min.js" %}'> </script>
    <script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "vendor/jquery.cookie/jquery.cookie.js" %}'> </script>
    <script src='{% static "vendor/@fancyapps/fancybox/jquery.fancybox.min.js" %}'></script>
    <script src='{% static "js/front.js" %}'></script>